 <div class="container">
    <div class="row">
      <div class="col-auto mx-auto">
        <h3><p class="text-left">注文履歴一覧</p></h3>

      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
            <% @customers.each do |customer| %>
          <tr>
            <!--購入日時-->
            <td>  order.created_at  </td>
            <!--購入者-->
            <td> <%= customer.first_name %><%= customer.last_name %> </td>
            <!--注文個数-->
            <!--<td> order_products.quantity  </td>-->
            <!--注文ステータス-->
            <!--<td>  orders.status  </td>-->
            <% end %>
            <td>  </td>
          <td>

            <th colspan="3"></th>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>


