<h2>商品詳細画面</h2>


<table class = "table">
  <%= link_to attachment_image_tag @product, :image, :fill, 60, 60, fallback: "no_image.jpg",size:"300x300" %>
     <tbody>
       <tr>
         <td><%= @product.name %></td>
         <td><%= @product.introduction %></td>
         <th>¥<%= @product.price %> (税込)</th>
       </tr>
     </tbody>
</table>
